<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<ul>
  Type anything: <input [(ngModel)]="word" placeholder="word" (keyup)="getAnagrams(word)"/>
  <button (click)="getAnagrams(word)">Generate Anagram</button>
</ul>
<table *ngIf="anagrams">
  <thead >
  <th>Sl. No</th>
  <th (click)="sort()">Anagrams</th>
  </thead>
  <tbody>
  <tr *ngFor="let anagram of anagrams | slice:0:10 ;let i = index">
    <td>{{i+1}}</td>
    <td> {{anagram}}</td>
  </tr>
  </tbody>
</table>

